# WeatherWatch service
# sudo ln -s /home/tcronin/src/WeatherWatch/systemd/weatherwatch.service /usr/lib/systemd/system/weatherwatch.service
# sudo systemctl enable weatherwatch.service
# sudo systemctl start weatherwatch.service
# sudo systemctl status weatherwatch.service

[Unit]
Description=WeatherWatch
After=multi-user.target
Requires=network.target
Conflicts=getty@tty1.service

[Service]
Type=simple
# load standard file...
EnvironmentFile=/etc/environment
# put log into standard log dir
Environment="WW_LOG_PATH=/var/log"
# this will remove console logging handler
Environment="WW_NO_CONSOLE=1"
# set logging level
Environment="WW_LOG_LEVEL=INFO"
# set system data dir for pix
Environment="WW_CAM_FOLDER=/var/lib/weatherwatch/pix"
# TODO need to variablize path...
WorkingDirectory=/home/tcronin/src/WeatherWatch
ExecStart=/home/tcronin/src/WeatherWatch/.venv/bin/python3 /home/tcronin/src/WeatherWatch/weatherwatch/sensor.py
StandardInput=tty-force
# tee off std IO for app log
StandardOutput=file:/var/log/WeatherWatch_out.log
StandardError=file:/var/log/WeatherWatch_err.log
Restart=always

[Install]
WantedBy=multi-user.target