# WeatherWatch service
# sudo ln -s /opt/WeatherWatch/systemd/weatherwatch.service /usr/lib/systemd/system/weatherwatch.service
# sudo systemctl enable weatherwatch.service
# sudo systemctl start weatherwatch.service
# sudo systemctl status weatherwatch.service

[Unit]
Description=WeatherWatch
After=multi-user.target
Requires=network.target
Conflicts=getty@tty1.service

[Service]
Type=simple
# load standard file...
EnvironmentFile=/etc/environment
# put log into standard log dir
Environment="WW_LOG_PATH=/var/log"
# root backup folder
Environment="WW_BACKUP_FOLDER=/mnt/backup/weather"
# this will remove console logging handler
Environment="WW_NO_CONSOLE=1"
# set logging level
Environment="WW_LOG_LEVEL=INFO"
# stop camera chatter
# https://github.com/raspberrypi/libcamera?tab=readme-ov-file#basic-testing-with-cam-utility
# https://github.com/raspberrypi/picamera2/issues/1131#issuecomment-2410391104
# https://stackoverflow.com/questions/73573891/hide-libcamera-info-in-python
Environment="LIBCAMERA_LOG_LEVELS=*:WARN"
# set system data dir for pix
Environment="WW_CAM_FOLDER=/var/lib/weatherwatch/pix"
# set system data dir for timelapse vids
Environment="WW_TIMELAPSE_FOLDER=/var/lib/weatherwatch/vid"
# tunning not needed live
Environment="WW_CAM_TUNE_ENABLE=false"
# standard dir install see init.sh
WorkingDirectory=/opt/WeatherWatch/
ExecStart=/opt/WeatherWatch/.venv/bin/python3 /opt/WeatherWatch/weatherwatch/sensor.py
StandardInput=tty-force
# tee off std IO for app log
StandardOutput=file:/var/log/WeatherWatch_out.log
StandardError=file:/var/log/WeatherWatch_err.log
Restart=always

[Install]
WantedBy=multi-user.target
