# WeatherWatch service
# # sudo ln -s //home/pi/src/WeatherWatch/systemd/weatherwatch.service /usr/lib/systemd/system/weatherwatch.service
# sudo systemctl enable weatherwatch.service
# sudo systemctl start weatherwatch.service
# sudo systemctl status weatherwatch.service

[Unit]
Description=WeatherWatch
After=multi-user.target
Requires=network.target
Conflicts=getty@tty1.service

[Service]
Type=simple
Environment="WW_LOG_PATH=/var/log WW_NO_CONSOLE=1"
WorkingDirectory=/home/pi/src/WeatherWatch
ExecStart=/usr/bin/python3 /home/pi/src/WeatherWatch/src/main.py
StandardInput=tty-force
StandardOutput=file:/var/log/WeatherWatch_out.log
StandardError=file:/var/log/WeatherWatch_err.log
Restart=always

[Install]
WantedBy=multi-user.target